/* Conteneur gris */
.container {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20% -100px 100px auto; /* Utilisation de margin: % valeur auto pour centrer le formulaire */
    overflow: hidden;
    width: 80%; /* Modification de la largeur du formulaire */  
  }
  
  /* En-tête */
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* Form */
  form {
    font-size: 18px;
    width: 100%; /* Utilisation de width: 100% pour que le formulaire occupe toute la largeur */
  }
  
  /* Labels */
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Inputs */
  input[type="text"],
  input[type="number"] {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Checkbox */
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Submit button */
  input[type="submit"] {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #0fd7d7;
    color: white;
    cursor: pointer;
  }
  
  /* Medicament */
  .medicament {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  
  /* Medicament label */
  .medicament label {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .medicament input[type="text"],input[type="number"] {
    display: inline-block;
    width: 100%;
    margin-top: px;
  }
  .posologie label {
    display: inline;
    margin-right: 10px;
    display:flex;
    flex-wrap: wrap;
    font-weight: normal;

  }
  /* Ajouter medicament */
  button[type="button"] {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #0fd7d7;
    color: white;
    cursor: pointer;
  }
  
  /* Ajouter medicament:hover */
  button[type="button"]:hover, input[type="submit"]:hover {
    background-color: #08bdbd;
  }
  
  /* Remove medicament */
  .remove {
    font-size: 16px;
    color: #ff4500;
    cursor: pointer;
  }
  
  /* Remove medicament:hover */
  .remove:hover {
    color: #ff0000;
  }


  /* Checkbox square */
.checkbox-square {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

/* Ajouter medicament */
button.ajouter-medicament-button {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #0fd7d7;
  color: white;
  cursor: pointer;
}


/* Ajouter medicament:hover */
button.ajouter-medicament-button:hover {
  background-color: #08bdbd;
}

/* Remove medicament */
button.supprimer-medicament-button {
  font-size: 16px;
  color: #ff4500;
  cursor: pointer;
}

/* Remove medicament:hover */
button.supprimer-medicament-button:hover {
  color: #ff0000;
}




  