
<app-navbar></app-navbar>
<div id="container">
    <div id ="text">
        <h1>Bienvenue dans le système de gestion des ordonnances</h1>

        <p>Vous pouvez utiliser cette page pour gérer les ordonnances des patients. Voici les fonctionnalités disponibles :</p>
    
        <ul>
          <li *ngIf="userService.isLoggedInPro()">Ajouter une nouvelle ordonnance : Aller sur la séction "Création ordonnance".
            Remplissez le formulaire avec les informations requises, tels que le nom du patient, la date de l'ordonnance et les médicaments prescrits... Puis cliquez sur enregistrer</li>
          <li *ngIf="userService.isLoggedInPatient()">Visualiser l'historique des ordonnances : Vous pouvez consulter l'historique complet de vos ordonnances dans la section "Liste ordonnances". 
            Ainsi que les télécharger sous formats PDF et recevoir des notifications de rappel pour la prise de médicaments.</li>
        </ul>
    
        <p>Si vous rencontrez des problèmes ou avez des questions, n'hésitez pas à contacter notre équipe d'assistance pour obtenir de l'aide.</p>
    
        <h5>Nous vous souhaitons une expérience agréable !</h5>
      </div>
</div>
<app-footer></app-footer>
