
<app-navbar></app-navbar>
<div id="container">
    <div id ="text">
        <h1>Bienvenue dans le système de gestion des ordonnances</h1>

        <p>Vous pouvez utiliser cette page pour gérer les ordonnances des patients. Voici les fonctionnalités disponibles :</p>
    
        <ul>
          <li>Ajouter une nouvelle ordonnance : Cliquez sur le bouton "Ajouter" pour créer une nouvelle ordonnance.
            Remplissez les détails requis, tels que le nom du patient, la date de l'ordonnance et les médicaments prescrits.</li>
          <li>Visualiser l'historique des ordonnances : Vous pouvez consulter l'historique complet des ordonnances dans la section dédiée. 
            Cela vous permettra de suivre les changements apportés aux ordonnances au fil du temps.</li>
        </ul>
    
        <p>Si vous rencontrez des problèmes ou avez des questions, n'hésitez pas à contacter notre équipe d'assistance pour obtenir de l'aide.</p>
    
        <p>Nous vous souhaitons une expérience agréable et efficace dans la gestion des ordonnances!</p>
      </div>
</div>
<app-footer></app-footer>
