table{
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 40%;
    z-index: 1;

  }
  
  th, td{
    border: 2px solid black;
    padding: 10px;
  }
    
  thead th:nth-child(1) {
    width: 5%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 15%;
  }
  
  tr:nth-child(even) {
    background-color: rgb(187, 201, 202);
  }
  
  th{
    background-color: #424558;
    color: white;
  }

  .button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    width: 100px;
    font-size: 16px; 
    cursor: pointer; 
  }
  
  .button:hover {
    background-color: #45a049;
  }
  