<app-navbar></app-navbar>
<table id="ordonnances">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Médecin</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ordonnance of ordonnances">
            <td>{{ ordonnance.num }}</td>
            <td>{{ ordonnance.medecin }}</td>
            <td>{{ ordonnance.date }}</td>
            <td>
                <button (click)="onOrdonnanceClicked(ordonnance._id)">Voir</button>
            </td>
        </tr>
    </tbody>
</table>
<app-footer></app-footer>