<nav>
  <div class="table">
    <ul>
      <li class="menu" [routerLinkActive]="['active']">
        <a [routerLink]="['/home']">Accueil</a>
      </li>

      <li>
        <a class="menu" [routerLink]="['/Ordonnances']">Listes Ordonnances</a>
      </li>

      <li class="menu" style="float:right">
        <div class="dropdown">
          <button class="dropbtn">{{ getInitials() }}</button>
          <div class="dropdown-content">
            <div><a href="#" >Profile</a></div>
            <div><a href="#" (click)="onLogOutClicked()">Déconnexion</a></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>


