<nav>
  <div class="table">
    <ul>
      <li id="logo">
        <a  [routerLink]="['/home']"> <img src="assets/logo.png" alt="logo" width="50" height="45"></a>
      </li>
      <li class="menu" [routerLinkActive]="['active']">
        <a [routerLink]="['/home']">Accueil</a>
      </li>

      <li>
        <a class="menu" [routerLink]="['/Ordonnances']">Listes Ordonnances</a>
      </li>

      <li style="float:right">
        <div class="dropdown">
          <button class="dropbtn">{{ getInitials() }}</button>
          <div class="dropdown-content">
            <div><a  (click)="onProfileClicked()">Profile</a></div>
            <div><a  (click)="onLogOutClicked()">Déconnexion</a></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>


