<div id="container">
  <!-- zone de connexion -->
  
  <form (submit)="onLogin()">
    
  <h1>Connexion</h1>
  
  <label><b>Identifiant</b></label>
  <input type="text" placeholder="Entrer le num de sécurité social ou num de professionnel " name="username" [(ngModel)]="identifiant" name="identifiant" required>
 
  <label><b>Mot de passe</b></label>
  <input type="password" placeholder="Entrer le mot de passe" name="password" [(ngModel)]="password" name="password" required>
 
  <input type="submit" id='submit' value='SE CONNECTER' >
  <input type="checkbox" checked="checked"> Se souvenir de moi

  <button type="button" (click)="onClickRegister()">CRÉER UN COMPTE</button>

  </form>
</div>
