<app-navbar></app-navbar>
<div class="ordonnance">
    <a class="croix"  (click)="retour()">✕</a>
    <h1 class="titre">Ordonnance : {{ _id }}</h1>
  
    <ul *ngFor="let medicament of medicaments">
        <li><span class="medicament">Médicament :</span> {{ medicament.nom }}</li>
        <li><span class="posologie">A prendre :</span></li>
        <span>{{ medicament.quantite.matin }} fois le matin, </span>
        <span>{{ medicament.quantite.midi }} fois le midi </span>
        <span> et {{ medicament.quantite.soir }} fois le soir </span>
        <li><span class="duree">pendant :</span> {{ medicament.duree }} jours</li>
    </ul>
  
    <p class="medecin">Prescription établie par le Dr {{ medecin }}</p>
    <p class="date">Le {{ date }}</p>
    <button (click)="telechargerPDF()">Télécharger en PDF</button>

</div>

<app-footer></app-footer>